<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
    
<body>

<div class="container">
  <h1>Names:</h1>
  <ul id="nameList" class=""></ul>

  <h2>Submit a name</h2>
  <div class="actions_container">
    <input type="text" id="newName">
    <button id="submitName" onclick="submitName()">Submit</button>
  </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="pr10-client.js"></script>

</body>
</html>